@import url(_animation.css);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body * {
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}


body {
    background-color: #121214;
    background-image: url(../img/Fundo.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header {
    height: calc(120+32px);
    margin-top: 32px;
}

header div {
    background-color: #BD9B04;
    border-radius: 50%;
    display: flex;
    box-shadow: 4px 4px 10px #131357;
    margin: auto;
    padding: 4px;
    width: 120px;
    transition: transform 0.3s;
}

header div:hover {
    transform: scale(1.1)
}

header div img {
    width: 100%;
    border-radius: 50%;

}

main {
    display: grid;
    gap: 24px;
    margin: 32px auto;
    max-width: 580px;
    width: 90%;

}

section {
    border-radius: 10px;
    color: white;
    padding-top: 4px;
    background-color: #BD9B04;
}

section div {

    background-image: linear-gradient(162.42deg, #131357 8.18%, #191970 49.71%, #19196D 74.37%, #2A2ABD 91.25%);
    border-radius: 8px;
    box-shadow: 4px 4px 10px #131357;
    padding: 32px;
    padding-top: 24px;
}

section h2 {
    font-weight: 900;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    color: #a1a1aa;
    letter-spacing: -0.18px;
}

section ul {
    display: flex;
    gap: 16px;
    list-style: none;

    margin-top: 24px;
}

section ul li {
    transition: transform .3s;


}

section ul li:hover {
    transform: scale(1.1);

}
@import url(./animation.css);

.movie-list img {
    border-radius: 8px;
    width: 90px;
}
